<body>

  
<ion-header class="barradenavegacion3">
    <!-- Icono de menu-->
    <ion-icon name="chevron-back-sharp"></ion-icon>
      
    <!-- discover -->
    <ion-title>
      <h2>Musicas</h2>
    </ion-title>

    <!-- Icono de elipses -->
    <ion-label>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-label>
      
</ion-header>

<ion-label class="Barradebsuqueda">
    <ion-label>
      <h1>MI MUSICA</h1>
    </ion-label>
    <ion-searchbar></ion-searchbar>
  </ion-label>

  <div class="album-cards-container">

    <ion-card class="album-card" (click)="seleccionarAlbum()">
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSrjl2E8PT7xwMBGnVom07by4grN6CoKgXZY47EWPx2vU9FRnYFkk0Et9DYczPfQZmDI4"></ion-img>
      <ion-icon name="play"></ion-icon>
    </ion-card>

    <ion-card class="album-card" (click)="seleccionarAlbum()">
        <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeZUeOwFVLCdRkjWX_Iu7HiDfLWHyzrZjPtg"></ion-img>
        <ion-icon name="play"></ion-icon>
    </ion-card>

    <ion-card class="album-card" (click)="seleccionarAlbum()">
        <ion-img src="https://lc.cx/5dEIwm"></ion-img>
        <ion-icon name="play"></ion-icon>
    </ion-card>

    <ion-card class="album-card" (click)="seleccionarAlbum()">
        <ion-img src="https://upload.wikimedia.org/wikipedia/en/2/23/Travis_Scott_-_Utopia.png"></ion-img>
        <ion-icon name="play"></ion-icon>
    </ion-card>

    <ion-card class="album-card" (click)="seleccionarAlbum()">
        <ion-img src="https://akamai.sscdn.co/letras/360x360/albuns/4/4/d/c/1854211688752134.jpg"></ion-img>
        <ion-icon name="play"></ion-icon>
    </ion-card>
  
    <ion-card class="album-card" (click)="seleccionarAlbum()">
      <ion-img src="https://akamai.sscdn.co/letras/360x360/albuns/8/0/0/6/1930201693310851.jpg"></ion-img>
      <ion-icon name="play"></ion-icon>
    </ion-card>

  </div>

</body>